<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>KaseraG</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Inter_Black.ttf</string>
		<string>Inter_Bold.ttf</string>
		<string>Inter_ExtraBold.ttf</string>
		<string>Inter_ExtraLight.ttf</string>
		<string>Inter_Light.ttf</string>
		<string>Inter_Medium.ttf</string>
		<string>Inter_Regular.ttf</string>
		<string>Inter_SemiBold.ttf</string>
		<string>Inter_Thin.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>SourGummy-Black.ttf</string>
		<string>SourGummy-BlackItalic.ttf</string>
		<string>SourGummy-Bold.ttf</string>
		<string>SourGummy-BoldItalic.ttf</string>
		<string>SourGummy-ExtraBold.ttf</string>
		<string>SourGummy-ExtraBoldItalic.ttf</string>
		<string>SourGummy-ExtraLight.ttf</string>
		<string>SourGummy-ExtraLightItalic.ttf</string>
		<string>SourGummy-Italic.ttf</string>
		<string>SourGummy-Light.ttf</string>
		<string>SourGummy-LightItalic.ttf</string>
		<string>SourGummy-Medium.ttf</string>
		<string>SourGummy-MediumItalic.ttf</string>
		<string>SourGummy-Regular.ttf</string>
		<string>SourGummy-SemiBold.ttf</string>
		<string>SourGummy-SemiBoldItalic.ttf</string>
		<string>SourGummy-Thin.ttf</string>
		<string>SourGummy-ThinItalic.ttf</string>
		<string>SourGummy_Expanded-Black.ttf</string>
		<string>SourGummy_Expanded-BlackItalic.ttf</string>
		<string>SourGummy_Expanded-Bold.ttf</string>
		<string>SourGummy_Expanded-BoldItalic.ttf</string>
		<string>SourGummy_Expanded-ExtraBold.ttf</string>
		<string>SourGummy_Expanded-ExtraBoldItalic.ttf</string>
		<string>SourGummy_Expanded-ExtraLight.ttf</string>
		<string>SourGummy_Expanded-ExtraLightItalic.ttf</string>
		<string>SourGummy_Expanded-Italic.ttf</string>
		<string>SourGummy_Expanded-Light.ttf</string>
		<string>SourGummy_Expanded-LightItalic.ttf</string>
		<string>SourGummy_Expanded-Medium.ttf</string>
		<string>SourGummy_Expanded-MediumItalic.ttf</string>
		<string>SourGummy_Expanded-Regular.ttf</string>
		<string>SourGummy_Expanded-SemiBold.ttf</string>
		<string>SourGummy_Expanded-SemiBoldItalic.ttf</string>
		<string>SourGummy_Expanded-Thin.ttf</string>
		<string>SourGummy_Expanded-ThinItalic.ttf</string>
		<string>SourGummy_SemiExpanded-Black.ttf</string>
		<string>SourGummy_SemiExpanded-BlackItalic.ttf</string>
		<string>SourGummy_SemiExpanded-Bold.ttf</string>
		<string>SourGummy_SemiExpanded-BoldItalic.ttf</string>
		<string>SourGummy_SemiExpanded-ExtraBold.ttf</string>
		<string>SourGummy_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>SourGummy_SemiExpanded-ExtraLight.ttf</string>
		<string>SourGummy_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>SourGummy_SemiExpanded-Italic.ttf</string>
		<string>SourGummy_SemiExpanded-Light.ttf</string>
		<string>SourGummy_SemiExpanded-LightItalic.ttf</string>
		<string>SourGummy_SemiExpanded-Medium.ttf</string>
		<string>SourGummy_SemiExpanded-MediumItalic.ttf</string>
		<string>SourGummy_SemiExpanded-Regular.ttf</string>
		<string>SourGummy_SemiExpanded-SemiBold.ttf</string>
		<string>SourGummy_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>SourGummy_SemiExpanded-Thin.ttf</string>
		<string>SourGummy_SemiExpanded-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
